body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
    transition: 0.5s;
}

.light {
    background: #f1f5f9;
    color: black;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #38bdf8;
}

.banner {
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.light .card {
    background: white;
}

button {
    padding: 12px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    color: white;
    cursor: pointer;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}